{{template "_header" .}}
<h1>Files</h1>

{{if .Data.Tagged}}
<h2>Tagged Files</h2>

<div class="gallery">
{{range .Data.Tagged}}
	<div class="gallery-item">
	<a href="/file/{{.ID}}" title="{{.Filename}}">
    {{if hasAnySuffix .Filename ".jpg" ".jpeg" ".png" ".gif" ".webp"}}<img src="/uploads/{{.EscapedFilename}}" style="max-width:150px"><br />
    {{else if hasAnySuffix .Filename ".mp4" ".webm" ".mov"}}<video width="150" controls><source src="/uploads/{{.EscapedFilename}}"></video><br />
    {{end}}
    {{.Filename}}</a>
    </div>
{{else}}
  <p>No tagged files yet.</p>
{{end}}
</div>
{{end}}

{{if .Data.Untagged}}
<h2>Untagged Files</h2>
<div class="gallery">
{{range .Data.Untagged}}
  <div class="gallery-item">
    <a href="/file/{{.ID}}" title="{{.Filename}}">
    {{if hasAnySuffix .Filename ".jpg" ".jpeg" ".png" ".gif" ".webp"}}<img src="/uploads/{{.EscapedFilename}}" style="max-width:150px">
    {{else if hasAnySuffix .Filename ".mp4" ".webm" ".mov"}}<video width="150" controls><source src="/uploads/{{.EscapedFilename}}"></video>
    {{end}}
    {{.Filename}}</a>
  </div>
{{else}}
  <li>No untagged files.</li>
{{end}}
</div>
{{end}}

{{template "_footer"}}
