{{template "_header" .}}
<h1>Search Files</h1>

{{if .Files}}

<h2>Found {{len .Files}} file{{if ne (len .Files) 1}}s{{end}}</h2>
<div class="gallery">
    {{range .Files}}
	<div class="gallery-item">
	<a href="/file/{{.ID}}" title="{{.Filename}}">
    {{if hasAnySuffix .Filename ".jpg" ".jpeg" ".png" ".gif" ".webp"}}<img src="/uploads/{{.EscapedFilename}}" style="max-width:150px"><br />
    {{else if hasAnySuffix .Filename ".mp4" ".webm" ".mov"}}<video width="150" controls><source src="/uploads/{{.EscapedFilename}}"></video><br />
    {{end}}
    {{.Filename}}</a>
    </div>
    {{end}}
</div>

{{else if .Query}}
<p>No files found matching "<strong>{{.Query}}</strong>"</p>
<p>Try using wildcards like <code>*{{.Query}}*</code> for broader results.</p>
{{end}}

{{template "_footer"}}