{{template "_header" .}}
<h1>Untagged Files</h1>

<ul>
{{range .Data}}
  <li>
    <a href="/file/{{.ID}}">{{.Filename}}</a><br>
    {{if hasAnySuffix .Filename ".jpg" ".jpeg" ".png" ".gif" ".webp"}}
      <img src="/uploads/{{.EscapedFilename}}" style="max-width:150px">
    {{else if hasAnySuffix .Filename ".mp4" ".webm" ".mov"}}
      <video width="150" controls muted>
        <source src="/uploads/{{.EscapedFilename}}">
      </video>
    {{end}}
  </li>
{{else}}
  <li>No untagged files.</li>
{{end}}
</ul>
{{template "_footer"}}
