<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Untagged Files</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1>Untagged Files</h1>
<p><a href="/">Back to all files</a> | <a href="/upload">Upload new file</a></p>

<ul>
{{range .}}
  <li>
    <a href="/file/{{.ID}}">{{.Filename}}</a><br>
    {{if hasAnySuffix .Filename ".jpg" ".jpeg" ".png" ".gif" ".webp"}}
      <img src="/uploads/{{.Filename}}" style="max-width:150px">
    {{else if hasAnySuffix .Filename ".mp4" ".webm" ".mov"}}
      <video width="150" controls>
        <source src="/uploads/{{.Filename}}">
      </video>
    {{end}}
  </li>
{{else}}
  <li>No untagged files.</li>
{{end}}
</ul>
</body>
</html>
