<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h2>Upload File</h2>
<form method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <button type="submit">Upload</button>
</form>

<h2>Upload from URL</h2>
<form method="post" action="/upload-url">
  File URL: <input type="url" name="fileurl" required style="width:400px"><br>
  <button type="submit">Add File</button>
</form>

<a href="/">Back to files</a>
</body>
</html>